/* Space Mono-700 - latin */
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/static/LexendDeca-Bold.ttf)
}
/* Lexend Deca-400 - latin */
@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/static/LexendDeca-Regular.ttf)
}