.about {
    background-image: url(../img/about-img.jpg);
    height: 200px;
    width: 1440px;

    .about_text {
        position: relative;
        left: 165px;
        top: 72px;
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 56px;
        letter-spacing: -2.5px;
        color: #FFFFFF;
    }
}

.mobility {
    display: flex;
    position: relative;
    top: 120px;
    left: 165px;
    gap: 190px;

    .mobility_texts {
        .mobility_text {
            width: 445px;
            height: 96px;
            font-family: 'Space Mono';
            font-size: 48px;
            line-height: 48px;
            letter-spacing: -2.14286px;
            color: #495567;
        }

        .mobility_p {
            position: relative;
            top: 24px;
            width: 445px;
            height: 75px;
            font-family: 'Lexend Deca';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: #939CAA;
        }
    }

    .mobility_img_circle {
        display: flex;
        gap: 64px;

        .moblitiy_img {
            img {
                position: relative;
                top: -50px;
                border-radius: 50%;
            }

        }

        .mobility_circle {
            position: relative;
            top: -50px;
            width: 445px;
            height: 445px;
            border-radius: 50%;
            background: #E5ECF4;
        }
    }

    .mobility_indicator {
        position: relative;
        left: -1265px;

        .ind1 {
            position: relative;
            top: 155px;
        }

        .ind2 {
            position: relative;
            top: 95px;
            left: 15px;
        }
    }
}

.better {
    display: flex;
    position: relative;
    top: 80px;
    gap: 220px;
    left: -330px;

    .better_circle_img {
        display: flex;
        gap: 64px;

        .bette_circle {
            width: 445px;
            height: 445px;
            border-radius: 50%;
            background: #E5ECF4;
        }

        .better_img {
            img {
                border-radius: 50%;
            }
        }

    }

    .better_indicator {
        position: relative;
        top: 10px;
        left: -685px;
    }

    .better_texts {
        position: relative;
        top: 115px;
        right: 100rem;

        .better_text {
            width: 445px;
            height: 96px;
            font-family: 'Space Mono';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 48px;
            letter-spacing: -2.14286px;
            color: #495567;
        }

        .better_p {
            position: relative;
            top: 24px;
            width: 445px;
            height: 75px;
            font-family: 'Lexend Deca';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: #939CAA;
        }
    }
}

.our_values {
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 178px;

    .ov_text {
        position: relative;
        width: 540px;
        height: 48px;
        left: 450px;
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        letter-spacing: -2.14286px;
        color: #495567;
    }

    .our_tech_all {
        display: flex;
        gap: 72px;
        position: relative;
        left: -60px;

        .our_tech {
            position: relative;
            position: relative;
            top: 85px;

            .ot_img {
                position: relative;
                left: 246px;

                img {
                    border-radius: 50%;
                }
            }

            .ot_one_circle {
                position: relative;
                top: -40px;
                left: 326px;
                align-items: center;
                text-align: center;
                height: 96px;
                width: 96px;
                background: #FCB72B;
                border-radius: 50%;

                .ot_one {
                    position: relative;
                    top: 34px;
                    font-family: 'Space Mono';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 28px;
                    text-align: center;
                    letter-spacing: -1.07143px;
                    color: #495567;
                }
            }

            .ot_texts {
                .ot_text {
                    position: relative;
                    left: 305px;
                    width: 350px;
                    height: 28px;
                    font-family: 'Space Mono';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 28px;
                    text-align: center;
                    letter-spacing: -1.07143px;
                    color: #495567;
                }

                .ot_p {
                    position: relative;
                    top: 24px;
                    left: 210px;
                    width: 350px;
                    height: 75px;
                    font-family: 'Lexend Deca';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 25px;
                    text-align: center;
                    color: #939CAA;
                }
            }

        }

    }
}

.faqs {
    position: relative;
    top: 422px;
    justify-content: center;
    align-items: center;
    text-align: center;

    .faqs_texts {
        // width: 540px;
        // height: 48px;
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        color: #495567;
    }

    .how_it_works {
        display: flex;
        gap: 30px;
        position: relative;
        top: 64px;
        margin-bottom: 64px;

        .how_it_works_text {
            span {
                width: 350px;
                height: 48px;
                font-family: 'Space Mono';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 48px;
                letter-spacing: -1.78571px;
                color: #495567;
            }
        }

        .questions {
            position: relative;
            left: 180px;
            text-align: initial;

            .down_app {
                display: flex;

                .down_app_texts {
                    width: 730px;
                    height: 191px;
                    background: #F2F5F9;

                    &:hover {
                        background-color: #FFF4DF;
                    }

                    span {
                        position: relative;
                        top: 32px;
                        left: 40px;
                        font-family: 'Space Mono';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 28px;
                        letter-spacing: -1.07143px;
                        color: #495567;
                    }

                    p {
                        position: relative;
                        top: 54px;
                        left: 40px;
                        width: 650px;
                        height: 75px;
                        font-family: 'Lexend Deca';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 25px;
                        color: #495567;
                    }
                }

                .down_app_up {
                    position: relative;
                    left: -40px;
                    top: 40px;
                }
            }
        }
    }

    .scoots {
        position: relative;
        display: flex;
        margin-bottom: 24px;
        top: 24px;
        width: 730px;
        height: 92px;
        background: #F2F5F9;

        &:hover {
            background-color: #FFF4DF;
        }

        .scoots_text {
            height: 28px;
            width: 465px;

            span {
                position: relative;
                left: 40px;
                top: 32px;
                font-family: 'Space Mono';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                letter-spacing: -1.07143px;
                color: #495567;
            }
        }

        .scoots_up {
            position: relative;
            left: 225px;
            top: 40px;
        }
    }
}


.download {
    display: flex;
    position: relative;
    margin-top: 640px;
    width: 1440px;
    height: 300px;
    background: #495567;

    .dowload__span {
        position: relative;
        width: 415px;
        height: 96px;
        left: 165px;
        top: 102px;
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -2.14286px;
        color: #FFFFFF;
    }

    .app__google {
        display: flex;
        gap: 18px;

        .appstor_down {
            display: flex;
            align-items: center;
            position: relative;
            width: 159px;
            height: 56px;
            left: 516px;
            top: 154px;
            gap: 12px;
            background: #E5ECF4;
            border-radius: 4px;

            p {
                font-family: 'Space Mono';
                font-style: normal;
                font-weight: 700;
                font-size: 10px;
                line-height: 15px;
                letter-spacing: -0.446429px;
                color: #495567;
            }

            span {
                font-family: 'Space Mono';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: -0.892857px;
                color: #495567;
            }
        }

        .googleplay_down {
            display: flex;
            align-items: center;
            position: relative;
            width: 159px;
            height: 56px;
            left: 516px;
            top: 154px;
            gap: 12px;
            background: #E5ECF4;
            border-radius: 4px;

            p {
                font-family: 'Space Mono';
                font-style: normal;
                font-weight: 700;
                font-size: 10px;
                line-height: 15px;
                letter-spacing: -0.446429px;
                color: #495567;
            }

            span {
                font-family: 'Space Mono';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: -0.892857px;
                color: #495567;
            }
        }
    }

    .download__circle {
        display: flex;
        position: absolute;
        gap: 56px;
        left: 450px;
        top: 150px;

        .down__circle {
            position: relative;
            width: 347px;
            height: 347px;
            mix-blend-mode: normal;
            opacity: 0.1;
            border: 15px solid #E5ECF4;
            border-radius: 50%;
        }

        .down__circles {
            position: relative;
            width: 347px;
            height: 347px;
            mix-blend-mode: normal;
            opacity: 0.1;
            border: 15px solid #E5ECF4;
            background-color: #898989;
            border-radius: 50%;
        }
    }
}